@use "variables" as*;

header {
    background-image: url(../assets/home-header.jpg);
    background-repeat: no-repeat;
    height: 70vh;
    width: 100vw;
    background-size: cover;
    background-position: 0% 90%;
    object-fit: contain;

    h1 {
        display: flex;
        flex-direction: column;
        padding: 50px 25px;
    
        .restaurant {
            background-color: white;
            color: $secondaryColor;
            display: block;
            width: 475px;
        }
    }
    nav {
        ul {
            display: flex
            
        }
         li {
            list-style-type: none;
            padding-top: 50px;
    
            a{ 
                color: $white;
                text-decoration: none;
                background-color: transparent;
                margin-right: 50px;
              
                line-height: 29px;
                letter-spacing: 1px;
                font-size: 2.0rem;
                font-weight: bold;
                &:hover {
                    border-bottom: 2px solid $tertiaryColor;
                }

                &:focus {
                    border-bottom: 2px solid $tertiaryColor;

                }
            }
         }

    }
}

    



.sectionOne {
    position: relative;
    background-color: $primaryColor;
    height: 55vh;

    p {
        margin: 0px;
    }
    h2 {
        margin: 0;
    }
    .platedFoodImg {
        position: absolute;
        bottom: 540px;
        right: 0px;
        width: auto;
        
    }

    .contentContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
        margin-top: 200px;
        
        .info {
            width: 40%;
         
            
            .titleContainer {
                display: flex;
                align-items: center;
                position: relative;
    
            }
            .circleIcon {
                color: $black;
                background-color: $tertiaryColor;
                border-radius: 50%;
                font-size: 3rem;
                padding-top: 10px;
                margin-right: 20px;
                width: 50px;
                height: 50px;
                text-align: center;
                vertical-align: middle;
                position: absolute;
                left:-70px;

                
            
            }
        }
    }
}

.sectionTwo {
    background-color: $secondaryColor;
    height: 80vh;
    display:flex;
    flex-wrap: wrap;
    width: 100%;

    .sectionContent1 {
        display:flex;
        flex-direction: column;
        width: 35%;
        justify-content: center;
        padding-left: 80px;
    }

    .sectionContent2 {
        display:flex;
        flex-direction: column;
        width: 31%;
        align-items: flex-end;
        text-align: right;
        padding-right: 15px;
       
    }

    .img1 {
        position: relative;
        width: 41%;
        bottom: 75px;
        left: 10px;
        .boxShadowRight {
            box-shadow: 15px 15px $tertiaryColor;
            width: 100%;
            display:block;
            height:auto;
        }    
 }

    .img2 {
        position: relative;
        width: 41%;
        top: 5px;
       
        .boxShadowLeft {
            box-shadow: -15px 15px $tertiaryColor;
            width: 100%;
            display:block;
            height:auto;
            
       }
       
    }
   
    h2, p {
        margin: 0;
    }

    button {
        background-color: $tertiaryColor;
        color: $black;
        width: 175px; 
        margin-top: 30px;
    }
}


.sectionThree {
   
    h2 {
        color: $tertiaryColor;
        margin: 0;
        padding-bottom: 20px;
    }
    
    .retaurantImgContainer{
        display: flex;
        justify-content: center;
    img {
       width: 100%;
       height: auto;
       object-fit: cover;  
       aspect-ratio: 3.2 / 1;
    } 
}

 p {
        margin: 0;
    }
button {
        color: $white;
        background-color: $black;
        margin-top: 40px;
        padding: 10px;
    }

  .giftCart {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 50vh;
        padding-top: 50px;
    }
.natureSpaces {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 60vh;
       
        img {
            box-shadow: -12px 12px $tertiaryColor;
        }

        .natureContentContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 50%;
        }
    }
}



.sectionFour {
    background-color: $secondaryColor;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    display: flex;
    justify-content: space-evenly;

    img {
    width: calc((100% / 3) - 20px);
    }
}