@use "variables" as *;

@font-face {
   font-family:'Josefin Sans', sans-serif;
   src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}


@font-face {
    font-family: 'barlow', sans-serif;
    src: url(../fonts/Barlow/Barlow-Regular.ttf);
    font-weight: normal;
    font-style: normal;
  }


  /* _typography.scss */

  html {
   font-size: 62.5%;
   
   h1 {
      font-family: $headingFont;
      font-size: 6.9rem;
      text-transform: uppercase;
      
     }
   
   
     nav {
      font-family: $headingFont;
      font-weight: bold;
     }

     p {
      font-size: 2.0rem;
      
     }
  }
 
  h2 {
   font-family: $headingFont;
   font-size: 4.5rem;
   text-transform: uppercase;
   line-height: 99.8px;
   font-weight: 400;
  }